%% -*- mode: erlang -*-
{erl_opts, [debug_info]}.

{deps, [
        {exmld,
         {elixir, "exmld", "0.1.8"}},
        {erlmld, "1.0.0"},

        %% these are deps of exmld.  they need to be here so `rebar3
        %% shell` works properly:
        {flow,
         {elixir, "flow", "0.14.2"}},
        {gen_stage,
         {elixir, "gen_stage", "0.14.0"}}
       ]}.

{relx, [{release, { erlang_processor, "0.1.0" },
         [
          erlang_processor,
          runtime_tools,
          sasl,
          tools
         ]},

        {sys_config, "config/sys.config"},
        {vm_args, "config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.

{plugins, [
           {rebar3_lint, "0.1.10"},
           {rebar3_elixir_compile,
            {git, "https://github.com/barrel-db/rebar3_elixir_compile.git",
             {ref, "4afc7a887dcf8e9abe3613cafd50e5f8d912e342"}}}
          ]}.

{provider_hooks, [
                  {pre, [{compile, {ex, compile}}]},
                  {pre, [{release, {ex, compile}}]}
                 ]}.

{elixir_opts, [
               {env, prod}
              ]}.
